#main{
  height: 500px;
  width: 300px;
  border: 1px solid red;
  margin: 5px 0px 0px 5px;
}
#child1{
  height: 200px;
  width: 200px;
  border: 1px solid green;
  margin: 5px 0px 5px 5px;
}
#child2{
  height: 200px;
  width: 200px;
  border: 1px solid black;
  margin: 5px 0px 5px 5px;
}
.wild{
  background-color:yellow;
}